<div class="col-6 col-12-small">
    <section class="box">
        <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
        <header>
            <h3>{{ include.title }}</h3>
        </header>
        <p>{{ include.text }}</p>
        {% if include.button_link %}
        <footer>
            <ul class="actions">
                <li><a href="{{ include.button_link }}" class="button alt">{{ include.button_text }}</a></li>
            </ul>
        </footer>
        {% endif %}
    </section>
</div>