<!-- Banner -->
<section id="banner">
    <header>
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}</p>
    </header>
</section>

<!-- Intro -->
<section id="intro" class="container">
    <div class="row">
        <div class="col-4 col-12-medium">
            <section class="first">
                <i class="icon solid featured fa-keyboard"></i>
                <header>
                    <h2>Domain Specific Languages</h2>
                </header>
                <p>Development of high-level abstractions for efficient programming in heterogeneous computing environments.</p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="middle">
                <i class="icon solid featured alt fa-cogs"></i>
                <header>
                    <h2>Compiling Toolchain and Runtime Environment</h2>
                </header>
                <p>Crafting new tools to optimize the execution of applications across diverse hardware architectures.</p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="last">
                <i class="icon solid featured alt2 fa-microchip"></i>
                <header>
                    <h2>Support for Heterogeneous Platforms</h2>
                </header>
                <p>Enhancing system software and OS capabilities to better manage and exploit the diversity of modern computing units.</p>
            </section>
        </div>
    </div>
    <footer>
        <ul class="actions">
            <li><a href="{% link project.md %}" class="button large">Learn More</a></li>
            <li><a href="{% link resources.md %}" class="button alt large">Discover</a></li>
        </ul>
    </footer>
</section>