---
layout: base
---
<div class="row">
	<div class="col-12">

		<section>
			<header class="major">
				<h2>Project at a glance</h2>
			</header>
			{{ content }}
		</section>
	</div>
	<div class="col-12 col-12-medium">
		<section>
			<header class="major">
				<h2>Latest News</h2>
			</header>
			<ul class="dates">
				{% for post in site.posts %}
				<li>
					<span class="date">{{ post.date | date: "%b %y <strong>%d</strong>" }}</span>
					<h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
					<p>{{ post.content | strip_html | truncatewords: 30 }}</p>
				</li>
				{% endfor %}
			</ul>
		</section>
	</div>
</div>